body {
    margin: 0;
    background: #050505;
    color: white;
    font-family: 'Segoe UI', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}

#stars {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: -1;
    background: radial-gradient(circle, #1a0a2e, #000);
}

.star {
    position: absolute;
    background: white;
    border-radius: 50%;
    opacity: 0.5;
    animation: move linear infinite;
}

@keyframes move {
    from {
        transform: translateY(0);
    }

    to {
        transform: translateY(-100vh);
    }
}

.card {
    background: rgba(10, 10, 10, 0.95);
    padding: 30px;
    border: 1px solid #bc13fe;
    border-radius: 20px;
    text-align: center;
    width: 350px;
    box-shadow: 0 0 30px rgba(188, 19, 254, 0.2);
}

.wide {
    width: 500px;
}

.hidden {
    display: none;
}

h2 {
    color: #bc13fe;
    margin-bottom: 20px;
}

input {
    width: 90%;
    padding: 12px;
    margin: 8px 0;
    background: #111;
    border: 1px solid #333;
    color: white;
    border-radius: 8px;
}

button {
    width: 95%;
    padding: 12px;
    background: #bc13fe;
    border: none;
    color: white;
    font-weight: bold;
    cursor: pointer;
    border-radius: 8px;
    margin-top: 10px;
}

#timer {
    font-size: 60px;
    font-weight: bold;
    color: #bc13fe;
    margin: 20px 0;
    text-shadow: 0 0 15px #bc13fe;
}

.warning-text {
    background: #111;
    padding: 15px;
    border-radius: 10px;
    text-align: left;
    font-size: 13px;
    border: 1px solid #222;
    margin-top: 20px;
    max-height: 200px;
    overflow-y: auto;
}

    .warning-text h3 {
        color: #ff4444;
        margin-top: 0;
        font-size: 14px;
    }

    .warning-text hr {
        border: 0;
        border-top: 1px solid #333;
        margin: 10px 0;
    }

    .warning-text ul {
        padding-left: 20px;
        color: #aaa;
    }
